body{
    margin: 0px;
    padding: 0px;
    background:linear-gradient(90deg, rgb(12, 7, 42) 0%, rgb(68, 235, 126) 70%);
}
.nav{
    background: rgb(4, 4, 30);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0px;
    border: 5px groove rgb(30, 231, 73);
    
}
.some{
    background: linear-gradient(90deg, rgb(11, 9, 44) 10%,  rgb(111, 240, 154) 70%);
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgb(111, 7, 7);
    border-radius: 10px;
    color: white
}
.greet{
    background:  linear-gradient(90deg, rgb(90, 218, 117) 10%, rgb(10, 7, 36) 70%);
    margin-top: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(129, 14, 14);
    border-radius: 10px;
    color: white;
    
}
button{
    color: white;
    background: linear-gradient(90deg, rgb(11, 9, 44) 10%,  rgb(111, 240, 154) 70%);
    width: 150px;
    height: 70px;
    border-radius: 40px;
    border: 2px groove rgb(19, 199, 6);
    font-size: 20px;
    animation: food 1s ease 2s infinite alternate;
}
@keyframes food {
    0%{
        box-shadow: 0px 10px 10px green;
    }
    10%{
        box-shadow:0px 10px 10px blue;
    }
    20%{
        box-shadow:0px 0px 10px yellow;
    }
    30%{
        box-shadow:0px 0px 10px purple;
    }
    40%{
        box-shadow:0px 0px 10px lightseagreen;
    }
    50%{
        box-shadow:0px 0px 10px pink;
    }
    60%{
        box-shadow:0px 0px 10px red;
    }
    70%{
        box-shadow:0px 0px 10px rgb(255, 0, 132);
    }
}

button:hover{
    color: rgb(30, 175, 17);
    background: rgb(255, 255, 255);
    border: 2px groove rgb(8, 177, 19);
    box-shadow: none;
}
.food{
    background: linear-gradient(90deg, rgb(11, 9, 44) 10%,  rgb(111, 240, 154) 70%);
    text-align: center;
    box-shadow: 0px 0px 10px rgb(99, 8, 8);
    border-radius: 10px;
    color: white;
}
.history{
    background:linear-gradient(90deg, rgb(68, 235, 126) 10%, rgb(12, 7, 42) 70%);
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgb(117, 4, 4);
    border-radius: 10px;
    color: white;
}
.jk{
    font-size: 10px;
}
.copious{
    background:linear-gradient(90deg, rgb(11, 9, 44) 10%,  rgb(111, 240, 154) 70%);
    margin-top: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(150, 4, 4);
    border-radius: 10px;
}
.na{
    background:linear-gradient(90deg, rgb(11, 9, 44) 10%,  rgb(111, 240, 154) 70%);
    margin-top: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(150, 4, 4);
    border-radius: 10px;
}
.calculator{
    background:linear-gradient(90deg, rgb(68, 235, 126) 10%, rgb(12, 7, 42) 70%);
    box-shadow: 0px 0px 10px rgb(107, 4, 4);
    border-radius: 10px;
    text-align: center;
    color: white;
}
h1{
    color: white;
}
.nigeria{
    background:linear-gradient(90deg, rgb(11, 9, 44) 10%,  rgb(111, 240, 154) 70%);
    box-shadow: 0px 0px 10px rgb(133, 5, 5);
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}
.table{
    background: linear-gradient(90deg, rgb(95, 235, 114) 10%, rgb(9, 4, 32) 70%);
    box-shadow: 0px 0px 10px rgb(138, 2, 2);
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    color: white;
}
input{
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    border: 2px groove rgb(8, 239, 58);
    border-radius: 40px;
    background: rgb(6, 6, 29);
}
select{
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    border: 2px groove rgb(8, 239, 58);
    border-radius: 40px;
    background: rgb(6, 6, 29);
}

table{
    background: rgb(8, 8, 30);
    color:white;
    border: 3px groove rgb(6, 225, 83)
}
.ty:hover{
    background: white;
    color: rgb(59, 237, 80);
    border: 3px groove rgb(49, 188, 51);
    box-shadow: none;
}
#winner{
    color: white;
}
.song{
    border-radius: 100px;
    background: linear-gradient(90deg, rgb(11, 9, 44) 10%,  rgb(111, 240, 154) 70%);
    box-shadow: 0px 6px 5px rgb(10, 10, 10);
    border: 3px solid black;
    margin-left: 92%;
    margin-top: 32%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    width: 50px;
    height: 50px;
    animation: sij 1s ease 2s infinite alternate;
}
.song:hover{
    background: white;
    color: rgb(6, 232, 6);
    border:3px solid rgb(8, 236, 8);
}
.kola{
    display: flex; flex-direction: row; justify-content: space-around; padding-top: 80px; background-color: rgb(10, 10, 34);
}
@media screen and (max-width: 768px) {
    .song{
        margin-top: 150%;
        margin-left: 80%;
    }
    .kola{
        display: flex;
        flex-direction: column;
        margin-left: 3px;
    }
}
@keyframes sij {
    0%{
        box-shadow:  inset 0px 10px 10px green;
    }
    10%{
        box-shadow:inset 0px 0px 10px blue;
    }
    20%{
        box-shadow: inset 0px 0px 10px yellow;
    }
    30%{
        box-shadow:inset 0px 0px 10px purple;
    }
    40%{
        box-shadow:inset 0px 0px 10px lightseagreen;
    }
    50%{
        box-shadow: inset 0px 0px 10px pink;
    }
    60%{
        box-shadow:inset 0px 0px 10px red;
    }
    70%{
        box-shadow:inset 0px 0px 10px rgb(255, 0, 132);
    }
    80%{
        box-shadow: inset 0px 0px 10px palevioletred;
    }
    90%{
        box-shadow: inset 0px 0px 10px blue;
    }
    100%{
        box-shadow: inset0px 0px 10px rgb(141, 109, 2);
    }
}    


